<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>battery-status-monitor.job</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/bin/osascript</string>
        <string>/Users/your_macos_username/Applications/MacBatteryChargeNotifier.scpt</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
</dict>
</plist>